@model IEnumerable<WebAppWithRepository.Models.Company>

@{ ViewData["Title"] = "Index";
    int Sl = 0; }

<h1 class="text-info">Company Information</h1>
<br />
<p class="text-right">
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Create New</a>
</p>
<table class="table table-info table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#SL</th>
            <th>@Html.DisplayNameFor(o => o.ComapnyName)</th>
            <th>@Html.DisplayNameFor(o => o.City)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Sl++;
<tr>
    <td>@Sl</td>
    <td>@item.ComapnyName</td>
    <td>@item.City</td>
    


    <td>
        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.CompanyId" class="btn btn-primary"><i class="fas fa-edit"></i></a>
        <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.CompanyId" class="btn btn-danger"><i class="fas fa-trash"></i></a>
    </td>
</tr>}
    </tbody>
</table>